---
layout: default
---
<p> 文章總數：{{ site.posts.size }} 篇</p>

<h1>最新文章</h1>

<ul style="list-style-type: none; padding-left: 0;">
  {% for post in site.posts %}
    <li style="margin-bottom: 15px; font-size: 1.1em;">
      <span class="post-date" style="color: #888; font-size: 0.85em; margin-right: 15px;">
        {{ post.date | date: "%Y-%m-%d" }}
      </span>
      
      <a href="{{ post.url | relative_url }}" style="text-decoration: none; font-weight: bold;">
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
